# add build compatibility in VSCode
.vscode/*

# Remove Visual Studio directories and files
.vs/*
cpp.hint

# Remove all build directories
out/*
build/*
enc_temp_folder/*

# Remove configured files
include/dragon/dragon_core.h

# Remove configured shader files

# Remove Python cacbe files
*.pyc

/include/dragon/vert.hpp
/include/dragon/frag.hpp
