[submodule "headers"]
	path = headers
	url = ../Dragon-Headers
[submodule "src"]
	path = src
	url = ../Dragon-Source
[submodule "extensions/ironbreath"]
	path = extensions/ironbreath
	url = ../Dragon-Ironbreath
[submodule "tools"]
	path = tools
	url = ../Dragon-Tools
[submodule "extensions/streambreath"]
	path = extensions/streambreath
	url = ../Dragon-Streambreath
[submodule "docs"]
	path = docs
	url = ../Dragon-Docs
