[submodule "headers"]
	path = headers
	url = ../Dragon-Headers
[submodule "src"]
	path = src
	url = ../Dragon-Source
[submodule "tools"]
	path = tools
	url = ../Dragon-Tools
[submodule "docs"]
	path = docs
	url = ../Dragon-Docs
[submodule "extensions/thunderbreath"]
	path = extensions/thunderbreath
	url = ../Dragon-Thunderbreath
