# add build compatibility in VSCode
.vscode/*

# Remove Visual Studio directories and files
.vs/*
cpp.hint

# Remove all build directories
out/*
build/*

# Remove configured files
include/dragon/dragon_core.h

# Remove configured shader files

/include/dragon/vert.hpp
/include/dragon/frag.hpp
