[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/pysimplegui"]
	path = external/pysimplegui
	url = https://github.com/PySimpleGUI/PySimpleGUI
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
[submodule "external/boost/rational"]
	path = external/boost/rational
	url = https://github.com/Boostorg/rational
[submodule "external/boost/thread"]
	path = external/boost/thread
	url = https://github.com/Boostorg/thread
[submodule "external/boost/predef"]
	path = external/boost/predef
	url = https://github.com/Boostorg/predef
[submodule "external/boost/algorithm"]
	path = external/boost/algorithm
	url = https://github.com/Boostorg/algorithm
[submodule "external/boost/align"]
	path = external/boost/align
	url = https://github.com/Boostorg/align
[submodule "external/boost/array"]
	path = external/boost/array
	url = https://github.com/Boostorg/array
[submodule "external/boost/assert"]
	path = external/boost/assert
	url = https://github.com/Boostorg/assert
[submodule "external/boost/atomic"]
	path = external/boost/atomic
	url = https://github.com/Boostorg/atomic
[submodule "external/boost/bind"]
	path = external/boost/bind
	url = https://github.com/Boostorg/bind
[submodule "external/boost/chrono"]
	path = external/boost/chrono
	url = https://github.com/Boostorg/chrono
[submodule "external/boost/concept_check"]
	path = external/boost/concept_check
	url = https://github.com/Boostorg/concept_check
[submodule "external/boost/config"]
	path = external/boost/config
	url = https://github.com/Boostorg/config
[submodule "external/boost/container"]
	path = external/boost/container
	url = https://github.com/Boostorg/container
[submodule "external/boost/container_hash"]
	path = external/boost/container_hash
	url = https://github.com/Boostorg/container_hash
[submodule "external/boost/conversion"]
	path = external/boost/conversion
	url = https://github.com/Boostorg/conversion
[submodule "external/boost/core"]
	path = external/boost/core
	url = https://github.com/Boostorg/core
[submodule "external/boost/date_time"]
	path = external/boost/date_time
	url = https://github.com/Boostorg/date_time
[submodule "external/boost/describe"]
	path = external/boost/describe
	url = https://github.com/Boostorg/describe
[submodule "external/boost/detail"]
	path = external/boost/detail
	url = https://github.com/Boostorg/detail
[submodule "external/boost/exception"]
	path = external/boost/exception
	url = https://github.com/Boostorg/exception
[submodule "external/boost/function"]
	path = external/boost/function
	url = https://github.com/Boostorg/function
[submodule "external/boost/function_types"]
	path = external/boost/function_types
	url = https://github.com/Boostorg/function_types
[submodule "external/boost/functional"]
	path = external/boost/functional
	url = https://github.com/Boostorg/functional
[submodule "external/boost/fusion"]
	path = external/boost/fusion
	url = https://github.com/Boostorg/fusion
[submodule "external/boost/integer"]
	path = external/boost/integer
	url = https://github.com/Boostorg/integer
[submodule "external/boost/intrusive"]
	path = external/boost/intrusive
	url = https://github.com/Boostorg/intrusive
[submodule "external/boost/io"]
	path = external/boost/io
	url = https://github.com/Boostorg/io
[submodule "external/boost/iterator"]
	path = external/boost/iterator
	url = https://github.com/Boostorg/iterator
[submodule "external/boost/lexical_cast"]
	path = external/boost/lexical_cast
	url = https://github.com/Boostorg/lexical_cast
[submodule "external/boost/move"]
	path = external/boost/move
	url = https://github.com/Boostorg/move
[submodule "external/boost/mp11"]
	path = external/boost/mp11
	url = https://github.com/Boostorg/mp11
[submodule "external/boost/mpl"]
	path = external/boost/mpl
	url = https://github.com/Boostorg/mpl
[submodule "external/boost/numeric_conversion"]
	path = external/boost/numeric_conversion
	url = https://github.com/Boostorg/numeric_conversion
[submodule "external/boost/optional"]
	path = external/boost/optional
	url = https://github.com/Boostorg/optional
[submodule "external/boost/preprocessor"]
	path = external/boost/preprocessor
	url = https://github.com/Boostorg/preprocessor
[submodule "external/boost/range"]
	path = external/boost/range
	url = https://github.com/Boostorg/range
[submodule "external/boost/ratio"]
	path = external/boost/ratio
	url = https://github.com/Boostorg/ratio
[submodule "external/boost/regex"]
	path = external/boost/regex
	url = https://github.com/Boostorg/regex
[submodule "external/boost/smart_ptr"]
	path = external/boost/smart_ptr
	url = https://github.com/Boostorg/smart_ptr
[submodule "external/boost/static_assert"]
	path = external/boost/static_assert
	url = https://github.com/Boostorg/static_assert
[submodule "external/boost/system"]
	path = external/boost/system
	url = https://github.com/Boostorg/system
[submodule "external/boost/throw_exception"]
	path = external/boost/throw_exception
	url = https://github.com/Boostorg/throw_exception
[submodule "external/boost/tokenizer"]
	path = external/boost/tokenizer
	url = https://github.com/Boostorg/tokenizer
[submodule "external/boost/tuple"]
	path = external/boost/tuple
	url = https://github.com/Boostorg/tuple
[submodule "external/boost/type_index"]
	path = external/boost/type_index
	url = https://github.com/Boostorg/type_index
[submodule "external/boost/type_traits"]
	path = external/boost/type_traits
	url = https://github.com/Boostorg/type_traits
[submodule "external/boost/typeof"]
	path = external/boost/typeof
	url = https://github.com/Boostorg/typeof
[submodule "external/boost/unordered"]
	path = external/boost/unordered
	url = https://github.com/Boostorg/unordered
[submodule "external/boost/utility"]
	path = external/boost/utility
	url = https://github.com/Boostorg/utility
[submodule "external/boost/variant2"]
	path = external/boost/variant2
	url = https://github.com/Boostorg/variant2
[submodule "external/boost/winapi"]
	path = external/boost/winapi
	url = https://github.com/Boostorg/winapi
[submodule "external/munit"]
	path = external/munit
	url = https://github.com/nemequ/munit
